.profile-container {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}

.profile {
    flex: 0 0 calc(100% - 2rem); /* Lebar setiap anggota adalah 100% lebar layar dikurangi margin */
    max-width: calc(100% - 2rem); /* Lebar maksimum setiap anggota adalah 100% lebar layar dikurangi margin */
    margin-right: 1rem;
    margin-bottom: 1rem; /* Memberi jarak bawah antara setiap anggota */
    padding: 1rem; /* Memberi ruang di sekitar konten setiap anggota */
    text-align: center; /* Pusatkan teks di dalam setiap anggota */
}

.profile img {
    width: 100%; /* Foto mengisi lebar kontainer */
    max-width: 200px; /* Foto tidak terlalu besar */
    height: auto; /* Foto menyesuaikan tinggi sesuai lebar */
    margin-bottom: 1rem; /* Jarak bawah antara foto dan teks */
}

.profile h2 {
    font-size: 1.5rem; /* Ukuran font judul */
    margin-bottom: 0.5rem; /* Jarak bawah antara judul dan teks */
}

.profile p {
    font-size: 1rem; /* Ukuran font teks */
}
